<!-- /animals -->

<div class="jumbotron" class="indexPageJumbo">
  <div class='container'>

    <h1>Join The Race To Protect Those That Cannot Protect Themselves!</h1>

    <div class='subMainParagraph'>
      <p>This is an open-source site that provides a forum to <strong>share</strong> and <strong>educate</strong> each other about threatened and endangered species.</p>
      <!-- Empower others with knowledge! -->
      <p><a class="btn btn-primary btn-lg" href="/animals/new" role="button">I Want To Add An Animal</a></p>
    </div> <!-- subMainParagraph -->

  </div> <!-- container -->
</div> <!-- jumbotron -->

  <div class='row'>
      <% @animal.each do | animal | %>
        <% if animal.animal %>
          
          <div class='thumbnail-padding'>
            <div class='col-xs-4 col-sm-3 col-md-3'>
              <div class='thumbnail'>

              <img src="<%= animal.photo %>" class='thumbnailPic' style='width:340px; height:260px;'>

              <div class='caption'>
                <h3 class='animalTextColor'> <%= animal.animal %></h3>
                <p class='threatTextColor'><strong><span class='subjectTitleText'>Threats:</span></strong> <%= animal.threat %></p>
                <!-- <p><strong>I am thought to be extinct: </strong><%= animal.extinct %></p> -->
                <p><a href='/animals/<%= animal.id %>' class='btn btn-primary' role='button'>Learn More About Me</a></p>
              </div> <!-- caption -->
            </div> <!-- thumbnail -->
          </div> <!-- col-xs-4 col-sm-3 col-md-3 -->
        </div> <!-- thumbnail-padding -->
      <% end %>
    <% end %>
  </div> <!-- row -->


