<!-- get '/animals/:id' -->



	<p><%= @animal.photo %></p>
	<p><%= @animal.url %></p>
	<p><%= @animal.animal %></p>
 	<p><%= @animal.id %></p>
    <p><%= @animal.habitat %></p>
    <p><%= @animal.behavior %></p>
 	<p><%= @animal.threat %></p></p>
    <p><%= @animal.life_expectancy %></p>
    <p><%= @animal.extinct %></p>
    <p><%= @animal.other_facts %></p>






<form method='post' action='/animals/<%= @animal.id %>'>
  <input type="submit" name='_method' value="delete">
</form> 

<button type='submit'><a href='/animals/<%= @animal.id %>/edit'>edit</a>
</button>
 






